@import 'src/styles.scss';

:host {
  display: flex;
  justify-content: center;

  .card {   
    min-width: $min-lg-content;
    max-width: 80%;
    width: auto;

    .info {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .avatar {
        width: 50%;
        height: 250px;

        app-avatar {
          margin-right: $space-lg;
          font-size: 4rem;
          justify-content: end;
          height: 100%;
        }
      }

      .details {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
          text-transform: capitalize;
          margin: $space-md 0;
          text-align: start;
        }

        a {
          font-size: small;
          text-align: start;
        }
      }
    }

    app-spinner {
      display: flex;
      width: $mobile;
      height: $mobile;
    }
    
    @media (max-width: $mobile) {
      width: $min-lg-content;
      min-width: auto;

      app-spinner {
        width: auto;
        height: $mobile;
      }

      .info {
        flex-direction: column;

        .details {
          width: 100%;

          h1, a {
            text-align: center;
          }
        }

        .avatar {
          width: 100%;
          padding-bottom: $space-md;
  
          app-avatar {
            margin-right: 0;
            justify-content: center;
          }
        }
      }
    }
  }
}
