@import 'src/styles.scss';

:host {
  display: flex;
  justify-content: center;

  .card {
    min-height: 83vh;

    img {
      height: 200px;
    }

    h1 {
      text-transform: capitalize;
      margin-bottom: $space-md;
    }

    .info {
      span {
        font-weight: bold;
        padding-right: $space-sm;
      }
    }

    .stats {
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        font-weight: bold;
        padding-right: 16px;
      }
    }
  }

  .back {
    margin-bottom: $space-lg;

    .fa {
      margin-right: $space-sm;
    }
  }
}