@import 'src/styles.scss';

:host {
  display: flex;
  justify-content: center;

  .card {
    min-height: 70vh;

    .info {
      display: flex;
      justify-content: center;
      align-items: start;

      img {
        height: 200px;
        margin-right: $space-lg;
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: start;

        h1 {
          text-transform: capitalize;
          margin: $space-md auto;
        }

        a {
          font-size: small;
          text-align: start;
        }
      }
  
    }
  }

  .back {
    margin-bottom: $space-lg;

    .fa {
      margin-right: $space-sm;
    }
  }
}