<div class="card">
  <div class="content">
    <div class="back">
      
    </div>
    <ng-container *ngIf="detail$ | async as detail">
      <ng-container *ngIf="detail.loading !== true; else loading">
        <ng-container *ngIf="detail.error === null; else error">
          <div class="info">
            <img [src]="getPokemonAvatar(detail.id)" [alt]="detail.name">
            <div class="details">
              <a routerLink="/list">
                <i class="fa fa-chevron-left"></i> Back to list
              </a>
              <h1>{{detail.name}}</h1>
            </div>
          </div>
          <app-detail-evolution [evolution]="detail.evolution"></app-detail-evolution>
        </ng-container>
      </ng-container>
      <ng-template #error>
        <app-error-message [message]="detail.error"></app-error-message>
      </ng-template>
      <ng-template #loading>
        <app-spinner></app-spinner>
      </ng-template>
    </ng-container>    
  </div>
</div>