<div class="card">
  <div class="content">
    <ng-container *ngIf="detail$ | async as detail">
      <ng-container *ngIf="detail.loading !== true; else loading">
        <ng-container *ngIf="detail.error === null; else error">
          <div class="info">
            <div class="avatar">
              <app-avatar [name]="detail.name"></app-avatar>
            </div>
            <div class="details">
              <a routerLink="/list" class="back">
                <i class="fa fa-chevron-left"></i> Back to Home
              </a>
              <h1>{{detail.name}}</h1>
              <ng-container *ngIf="detail.characteristic">
                <p class="description">
                  {{getCharacteristic(detail.characteristic)}}
                </p>
                <p class="stat" *ngIf="detail.characteristic?.highest_stat">
                  <app-higher-stat [stat]="detail.characteristic.highest_stat.name"></app-higher-stat>
                </p>
              </ng-container>
            </div>
          </div>
          <app-detail-evolution [evolution]="detail.evolution"></app-detail-evolution>
        </ng-container>
      </ng-container>
      <ng-template #error>
        <app-error-message [message]="detail.error"></app-error-message>
      </ng-template>
      <ng-template #loading>
        <app-spinner></app-spinner>
      </ng-template>
    </ng-container>    
  </div>
</div>