@import 'src/styles.scss';

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  padding: $space-sm;

  .home {
    height: 50px;

    img {
      height: 40px;
      margin-top: 10px;
    }
  }
}

.container {
  padding: $space-lg;  
}

.footer {
  color: darken($light-color, 30%);
  font-size: small;
  text-align: center;
  margin-top: 0;
  padding-bottom: $space-lg;

  a {
    color: darken($light-color, 30%);
    margin-left: $space-sm;
  }
}