@import 'src/styles.scss';

.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  padding: $space-sm;


  .home {
    height: 50px;

    img {
      height: 40px;
      margin-top: 10px;
    }
  }
}

.container {
  padding: $space-lg;  
}