@import 'src/styles.scss';

a {
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: $space-xs;

  app-avatar {
    width: 100px;
    max-height: 40px;
    vertical-align: middle;
  }

  .name {
    text-transform: capitalize;
  }

  &:hover {
    background-color: darken($light-color, 5%);
  }
}