@import 'src/styles.scss';

:host {
  display: flex;
  justify-content: center;

  .card {
    width: 600px;
    
    .pagination {
      display: flex;
      justify-content: center;
    }

    app-spinner {
      display: flex;
      width: 600px;
      height: 584px;
    }

    @media (max-width: $mobile) {
      app-spinner {
        width: $min-lg-content;
      }
    }
  }
}