@import 'src/styles.scss';

:host {
  display: flex;
  justify-content: center;

  .card {
    .content {
      min-height: 70vh;
    }
    
    .pagination {
      display: flex;
      justify-content: center;
    }
  }
}