<div class="card">
  <div class="content">
    <ng-container *ngIf="pokemonPayload$ | async as list; else loading">
      <div class="list">
        <ng-container *ngFor="let item of list.results">
          <div class="item">
            <a mat-list-item [href]="'detail/' + item.name">
              <span class="wrapper">
                <span class="avatar">
                  <img mat-list-avatar [src]="getPokemonAvatar(item.url)" [alt]="item.name">
                </span>
                <span class="name">
                  {{item.name}}
                </span>
              </span>
            </a>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #loading>
      <div id="loading">
        Loading
      </div>
    </ng-template>
  </div>
  <div class="pagination">
    
  </div>
</div>