<div class="card">
  <div class="content">
    <ng-container *ngIf="listObservable$ | async as list">
      <ng-container *ngIf="list.loading !== true; else loading">
        <ng-container *ngIf="list.error === null; else error">
          <div class="list">
            <ng-container *ngFor="let item of list.results">
              <app-list-item [item]="item"></app-list-item>
            </ng-container>
          </div>
          <div class="pagination">
            <app-pagination 
              [limit]="limit" 
              [currentPage]="page" 
              [total]="list.count" 
              (pageChanged)="onPageChanged($event)">
            </app-pagination>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #error>
        <app-error-message [message]="list.error"></app-error-message>
      </ng-template>
      <ng-template #loading>
        <app-spinner></app-spinner>
      </ng-template>
    </ng-container>
  </div>
</div>